@import '../../../../vars';

.header {
  padding: var(--pd);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    align-items: center;

    figure {
      margin-right: var(--mg);
    }

    &--nav {
      ul {
        li {
          margin-right: var(--mg);
        }
      }
    }
  }
}
