.cart {
  background: var(--bg-white);
  min-height: 70vh;

  &__container {
    padding: var(--pd);

    figure {
      width: 50px;
      margin-right: 10px;
    }

    &--title {
      display: flex;
      align-items: center;
    }

    &--content {
      padding: var(--pd);
      text-align: center;

      .no-content {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: auto;
        @media screen and (max-width: 768px){
          width: 90%;
        }

        .home__btn {
          margin-top: 10px;
        }
      }


      table {
        width: 100%;
        border-collapse: collapse;

        @media only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px) {

          /* Force table to not be like tables anymore */
          table,
          thead,
          tbody,
          th,
          td,
          tr {
            display: block;
          }

          /* Hide table headers (but not display: none;, for accessibility) */
          thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
          }

          tr {
            margin: 0 0 1rem 0;
          }

          td {
            /* Behave  like a "row" */
            border: none;
            position: relative;
            padding-left: 50%;
            max-width: 100%;
          }

          tbody {
            border: none;

            tr {
              border: 0.5px solid #c4c4c4;
              border-radius: 20px ;
            }
          }

          td:before {
            position: absolute;
            top: 20px;
            left: 0px;
            width: 32%;
            padding-right: 10px;
            white-space: nowrap;
            font-weight: 700;
          }

          td:nth-of-type(1):before {
            content: "";
          }

          td:nth-of-type(2):before {
            content: "Producto";
          }

          td:nth-of-type(3):before {
            content: "Talla";
          }

          td:nth-of-type(4):before {
            content: "Precio";
          }

          td:nth-of-type(5):before {
            content: "Cantidad";
          }

          td:nth-of-type(6):before {
            content: "Subtotal";
          }
        }

        td,
        th {
          padding: var(--pd);
        }


        thead {
          background-color: var(--bg-main);

          th {
            &:first-child {
              border-top-left-radius: 20px;
            }

            &:last-child {
              border-top-right-radius: 20px;
            }
          }
        }

        tbody {
          border-bottom: 0.5px solid #C4C4C4;
          @media only screen and (max-width: 760px) {
            border: none;
          }

          td {
            border-left: 0.5px solid #C4C4C4;
            @media only screen and (max-width: 760px) {
              border: none;
            }

            &:last-child {
              border-right: 0.5px solid #C4C4C4;

              @media only screen and (max-width: 760px) {
                border: none;
              }
            }

            .count {
              background: #e7e7ec;
              border-radius: 10px;
              height: 100%;
              display: grid;
              grid-template-columns: 65% 35%;
              align-items: center;
              justify-content: center;
              width: 50%;
              margin: auto;

              @media only screen and (max-width: 760px) {
                width: 20%;
              }

              p {
                text-align: center;
                padding: 0 10px;
              }

              .cart__btns {
                display: flex;
                flex-direction: column;
                background: var(--bg-main);
                border-radius: 0px 10px 10px 0px;
                align-items: center;

                button {
                  color: white;
                  padding: 0;
                }

                .add {
                  transform: rotate(180deg);
                  padding: 0;
                }
              }
            }
          }
        }



        figure {
          margin: auto;
        }
      }

    }
  }

  .infoPayment {
    padding-bottom: 10px;

    &__container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

      &--content {
        padding: var(--pd);

        &.form {
          background: var(--bg-main);

          form {
            display: grid;

            mat-form-field {
              width: 70%;
              margin: auto;
            }

            .btn-send {
              display: flex;
              justify-content: center;
            }
          }
        }


        .payment {
          padding: var(--pd);

          .box {
            display: grid;
            grid-template-columns: 20% 70%;
            gap: 20px;
            align-items: center;

            p {
              text-align: left;
              width: 100%;
              padding: 10px 20px;
              margin: 10px 0;
              background-color: var(--bg-main);
              border-radius: 5px;
            }
          }
        }

        .whatsapp-contact {
          button {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color);

            figure {
              width: 40px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
