<section class="cart" *ngIf="(products$ | async) as products">
  <div class="cart__container">
    <div class="cart__container--title">
      <figure>
        <img src="assets/images/icon-cart.svg" alt="icon-cart">
      </figure>
      <h4>Mi Carrito</h4>
    </div>
    <div class="cart__container--content">
      <p *ngIf="products.length === 0"> No tiene ningun producto en el carrito</p>
      <table *ngIf="products.length > 0">
        <thead>
          <tr>
            <th></th>
            <th>Producto</th>
            <th>Talla</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products | count">
            <td>
              <figure>
                <img [src]="product.images[0]" [alt]="product.name">
              </figure>
            </td>
            <td>{{product.name}}</td>
            <td>{{product.size[0]}}</td>
            <td>{{product.price | currency}}</td>
            <td>
              <form [formGroup]="form">
                <input type="number" formControlName="count" [value]="product.count" placeholder="1" min="1">
              </form>
            </td>
            <td>{{ 90000 | currency}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
