<section class="cart" *ngIf="(products$ | async) as products">
  <div class="cart__container">
    <div class="cart__container--title">
      <figure>
        <img src="assets/images/icon-cart.svg" alt="icon-cart">
      </figure>
      <h4>Mi Carrito</h4>
    </div>
    <div class="cart__container--content">
      <div class="no-content" *ngIf="products.length === 0">
        <p> No tiene ningun producto en el carrito</p>
        <a [routerLink]="['/']" class="home__btn">Ir al inicio</a>
      </div>
      <!-- <div class="table" *ngIf="products.length > 0">
        <div class="table__columns">
          <h6></h6>
          <h6>Producto</h6>
          <h6>Talla</h6>
          <h6>Precio</h6>
          <h6>Cantidad</h6>
          <h6>Subtotal</h6>
        </div>
        <div class="table__rows" *ngFor="let product of products; index as i">
          <div class="col">
            <figure>
              <img [src]="product.images[0]" [alt]="product.name">
            </figure>
          </div>
          <div class="col">
            <p>{{product.name}}</p>
          </div>
          <div class="col">
            <p>{{product.size}}</p>
          </div>
          <div class="col">            
            <p>{{product.price | currency}}</p>
          </div>
          <div class="col">
            <div class="count">
              <p>{{product.count}}</p>
              <div class="cart__btns">
                <button class="delete" (click)="addCart(product)">^</button>
                <button class="add" (click)="deleteCart(product)">^</button>
              </div>
            </div>
          </div>
          <div class="col">
            <p>{{ product.price * product.count | currency}}</p>
          </div>
        </div>

      </div> -->
      <table *ngIf="products.length > 0">
        <thead>
          <tr>
            <th></th>
            <th>Producto</th>
            <th>Talla</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; index as i">
            <td>
              <figure>
                <img [src]="product.images[0]" [alt]="product.name">
              </figure>
            </td>
            <td>{{product.name}}</td>
            <td>{{product.size}}</td>
            <td>{{product.price | currency}}</td>
            <td>
              <div class="count">
                <p>{{product.count}}</p>
                <div class="cart__btns">
                  <button class="delete" (click)="addCart(product)">^</button>
                  <button class="add" (click)="deleteCart(product)">^</button>
                </div>
              </div>              
            </td>
            <td>{{ product.price * product.count | currency}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <section class="infoPayment" *ngIf="products.length > 0">
    <div class="infoPayment__container">
      <div class="infoPayment__container--content form">
        <h4>Datos de envio</h4>
        <form [formGroup]="form" (ngSubmit)="getUserForSend($event)">
          <mat-form-field>
            <mat-label>Nombre:</mat-label>
            <input type="text" formControlName="name" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email:</mat-label>
            <input type="email" formControlName="email" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Dirección:</mat-label>
            <input type="text" formControlName="address" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Ciudad:</mat-label>
            <input type="text" formControlName="city" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Telefono:</mat-label>
            <input type="tel" formControlName="phoneNumber" matInput>
          </mat-form-field>
          <div class="btn-send">
            <button class="btn" [disabled]="form.invalid" mat-raised-button type="submit">Actualizar</button>
          </div>
        </form>
      </div>
      <div class="infoPayment__container--content">
        <h4>Total Carrito: </h4>
        <div class="payment">
          <div class="box">
            <h6>Subtotal</h6>
            <p>{{total | currency}}</p>
          </div>
          <div class="box">
            <h6>Envio</h6>
            <p>{{shipment | currency}}</p>
          </div>
          <div class="box">
            <h6>Total</h6>
            <p>{{total + shipment | currency}}</p>
          </div>
        </div>
        <div class="whatsapp-contact">
          <button type="button" (click)="payCart()">
            <figure>
              <img src="assets/images/icon-whatsapp.svg" alt="icon-whatsapp">
            </figure>
            <span>Contactar para realizar el pago</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</section>
