.cart {
  background: var(--bg-white);
  min-height: 70vh;

  &__container {
    padding: var(--pd);

    figure {
      width: 50px;
      margin-right: 10px;
    }

    &--title {
      display: flex;
      align-items: center;
    }

    &--content {
      padding: var(--pd);
      text-align: center;

      .no-content {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: auto;

        .home__btn {
          margin-top: 10px;
        }
      }

      table {
        width: 100%;
        border-collapse: collapse;

        td,
        th {
          padding: var(--pd);
        }


        thead {
          background-color: var(--bg-main);

          th {
            &:first-child {
              border-top-left-radius: 20px;
            }

            &:last-child {
              border-top-right-radius: 20px;
            }
          }
        }

        tbody {
          border-bottom: 0.5px solid #C4C4C4;

          td {
            border-left: 0.5px solid #C4C4C4;
            max-width: 0px;

            .count {
              background: #e7e7ec;
              border-radius: 10px;
              height: 100%;
              display: grid;
              grid-template-columns: 65% 35%;
              align-items: center;
              justify-content: center;
              width: 50%;
              margin: auto;



              p {
                text-align: center;
                padding: 0 10px;
              }

              .cart__btns {
                display: flex;
                flex-direction: column;
                background: var(--bg-main);
                border-radius: 0px 10px 10px 0px;
                align-items: center;

                button {
                  color: white;
                  padding: 0;
                }

                .add {
                  transform: rotate(180deg);
                  padding: 0;
                }
              }
            }

            &:last-child {
              border-right: 0.5px solid #C4C4C4;
            }
          }
        }



        figure {
          margin: auto;
        }
      }

    }
  }

  .infoPayment {
    padding-bottom: 10px;

    &__container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

      &--content {
        padding: var(--pd);

        &.form {
          background: var(--bg-main);

          form {
            display: grid;

            mat-form-field {
              width: 70%;
              margin: auto;
            }

            .btn-send {
              display: flex;
              justify-content: center;
            }
          }
        }


        .payment {
          padding: var(--pd);

          .box {
            display: grid;
            grid-template-columns: 20% 70%;
            gap: 20px;
            align-items: center;

            p {
              text-align: left;
              width: 100%;
              padding: 10px 20px;
              margin: 10px 0;
              background-color: var(--bg-main);
              border-radius: 5px;
            }
          }
        }

        .whatsapp-contact {
          a {
            display: flex;
            align-items: center;
            justify-content: center;

            figure {
              width: 40px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
