.login {
  background: var(--bg-white);
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width:768px) {
    height: 100vh;
  }

  h4 {
    padding: var(--pd);
    margin: 0 20%;
  }

  &__container {
    background: var(--bg-main);
    padding: 2rem;
    margin: 0 25%;
    box-shadow: 4px 2px 15px #7d7d7d;
    border-radius: 10px;
    text-align: center;

    @media screen and (max-width:600px) {
      margin: 10px 5%;
    }

    form {
      display: grid;

      mat-form-field {
        width: 90%;
        margin: auto;

      }
    }

    button {
      margin: 10px;
    }
  }

  .forget {
    button {
      text-decoration: underline;
      color: var(--color);
    }
  }

  .social_media {
    display: flex;
    justify-content: center;
    align-items: center;

    nav {
      ul li {
        margin-left: 10px;
      }
    }
  }

  .link {
    margin-top: 20px;

    a {
      font-weight: 700;
    }
  }
}
