<footer class="footer">
  <div class="footer__container">
    <nav class="footer__container--nav">
      <ul>
        <li>
          <a href="http://facebook.com" target="_blank" rel="noopener noreferrer">
            <img class="icon" src="assets/images/icon-facebook.svg" alt="icon-facebook">
          </a>
        </li>
        <li>
          <a href="http://instragram.com" target="_blank" rel="noopener noreferrer">
            <img class="icon" src="assets/images/icon-instagram.svg" alt="icon-instagram">
          </a>
        </li>
        <li>
          <a href="http://gmail.com" target="_blank" rel="noopener noreferrer">
            <img class="icon" src="assets/images/icon-gmail.svg" alt="icon-gmail">
          </a>
        </li>
      </ul>
    </nav>
    <div class="footer__container--copy">
      <small>2020 © Todos los derechos reservados</small>
    </div>
  </div>
</footer>
