<div class="card__container">
  <h6>{{product.name}}</h6>
  <div class="card__container--description">
    <strong [style.justify-content]="position">{{product.price | currency}}</strong>
    <p>{{product.description | slice:0:size }}</p>
    <div class="detail">
      <h6>Color: </h6>
      <div *ngFor="let bg of product.color">
        <span class="color" [style.background]="bg"></span>
      </div>
    </div>
    <div class="detail">
      <h6>Talla: </h6>
      <div *ngFor="let sz of product.size">
        <span>{{sz}}</span>
      </div>
    </div>
  </div>

  <button class="btn">Añadir al carrito</button>
</div>
<div class="card__container--image" [style.background]="color || 'transparent'">
  <figure [style.width.px]="imageWidth" [ngClass]="{'cardView': imageWidth === 300}">
    <img [src]="product.images" [alt]="product.name">
  </figure>
</div>
