.categories {
  &__content {

    &--container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: var(--pd);

      .detail {
        display: flex;
        align-items: center;

        span {
          display: inline-block;
          margin-left: 5px;

          &.color {
            width: 20px;
            height: 20px;
            border-radius: 5px;

          }
        }
      }

      &.image {
        height: 100%;
        width: 100%;
        border-radius: 0 20px 20px 0;
        background-color: var(--bg-color-secondary);

        figure {
          width: 150px;
          margin: auto;

          img {
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.30));
          }
        }
      }

      strong {
        text-align: end;
      }

      .btn {
        font-size: 14px;
        line-height: 13px;
      }
    }
  }
}
