<div class="card__container">
  <h6>{{category.name}}</h6>
  <strong>{{category.price | currency}}</strong>
  <p>{{category.description | slice:0:size }}</p>
  <div class="detail">
    <h6>Color: </h6>
    <div *ngFor="let bg of category.color">
      <span class="color" [style.background]="bg"></span>
    </div>
  </div>
  <div class="detail">
    <h6>Talla: </h6>
    <div *ngFor="let sz of category.size">
      <span>{{sz}}</span>
    </div>
  </div>

  <button class="btn">Añadir al carrito</button>
</div>
<div class="card__container--image" [style.background]="color || 'transparent'">
  <figure>
    <img [src]="category.images" [alt]="category.name">
  </figure>
</div>
