.categories {
  &__content {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: transparent;
    margin-right: 10px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;

    &:hover {
      transform: scale(1.5);
      opacity: 1;
    }

    &:hover~--container {
      transform: translate3d(100px, 0, 0);

      &--container {
        opacity: 0.3;
      }
    }

    &--container {
      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      // height: 100%;
      // padding: var(--pd);

      padding: var(--pd);
      align-self: center;

      .detail {
        display: flex;
        align-items: center;

        span {
          display: inline-block;
          margin-left: 5px;

          &.color {
            width: 20px;
            height: 20px;
            border-radius: 5px;

          }
        }
      }

      &.image {
        height: 100%;
        width: 100%;
        border-radius: 0 20px 20px 0;
        background-color: var(--bg-color-secondary);
        display: flex;
        justify-content: center;
        align-items: center;

        figure {
          width: 150px;
          margin: auto;

          img {
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.30));
          }
        }
      }

      strong {
        display: flex;
        justify-content: flex-end;
      }

      .btn {
        font-size: 14px;
        line-height: 13px;
      }
    }
  }
}
