.comments {
  padding: var(--pd);

  &__container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
    min-height: 400px;

  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
}
