<section class="comments">
  <div class="comments__container">
    <div class="comments__content">
      <h4>Opiniones de clientes</h4>
      <form [formGroup]="form" (ngSubmit)="addComment($event)">
        <div class="start-rating">
          <star-rating [starType]="'svg'" ngDefaultControl (ratingChange)="onRatingChange($event)"
            formControlName="rating" labelPosition="top">
          </star-rating>
          <p>{{score}} / 5</p>
          <p>{{score}} opiniones</p>
        </div>
        <fieldset>
          <legend>Escribenos una opinión:</legend>
          <textarea placeholder="Escribe tu comentario" formControlName="comment"></textarea>
        </fieldset>
        <button type="submit" class="btn" [disabled]="form.invalid">Enviar</button>
      </form>
    </div>
    <div class="comments__content reviews" *ngIf="comments">
      <div class="no-content" *ngIf="comments.length === 0">
        <figure>
          <img ngxGravatar [email]="'no-gravatar@gravatar.com'" [fallback]="fallbacks[3]" alt="user-avatar" />
        </figure>
        <p>No hay comentarios sobre este producto.</p>
      </div>
      <div *ngIf="comments.length > 0">
        <div class="comments__content--card" *ngFor="let comment of comments">
          <div class="item">
            <figure class="avatar">
              <img ngxGravatar [email]="comment.users.email" [fallback]="fallbacks[0]" alt="user-avatar" />
            </figure>
            <h6>{{ comment.users.username || "user" }}</h6>
          </div>
          <div class="item">
            <div class="">
              <star-rating [starType]="'svg'" [rating]="comment.rating" [readOnly]="true"></star-rating>
            </div>
          </div>
          <div class="description__comment">
            <p>{{comment.comment}}</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
