.comments {
  margin-top: 20px;
  padding: var(--pd);
  background-color: #E3F6F5;

  &__container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
    min-height: 400px;

  }

  &__content {
    padding: var(--pd);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;

    &--card {
      .item {
        display: flex;
        align-items: center;

        h6 {
          margin-left: 10px;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px auto;

      fieldset,
      legend {
        border: none;
      }
    }
  }


}
