<section class="comments">
  <div class="comments__container">
    <div class="comments__content">
      <h4>Opiniones de clientes</h4>
      <div class="comments__content--start-rating">

      </div>
      <form>
        <fieldset>
          <legend>Escribenos una opinión:</legend>
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </fieldset>
        <button type="submit" class="btn">Enviar</button>
      </form>
    </div>
    <div class="comments__content">
      <div class="comments__content--card">
        <div class="item">
          <figure class="avatar">
            <img src="" alt="avatar-user">
          </figure>
          <h6>user</h6>
        </div>
        <div class="item">
          <p>estrlass</p>
          <h6>title</h6>
        </div>
        <p>comments</p>
      </div>
    </div>
  </div>

</section>
