.comments {
  background: #e9e9f0;
  margin: 20px 0;
  box-shadow: 4px 4px 6px rgba(39, 35, 67, 0.25);
  border-radius: 0px 0px 20px 0px;

  &__container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
    min-height: 400px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

  }

  &__content {
    padding: calc(var(--pd) * 2);
    height: 400px;
    overflow-y: scroll;


    &.reviews {
      background: var(--bg-main);
      border-radius: 0px 0px 20px 0px;
    }

    &--card {
      padding: var(--pd);
      background: var(--bg-white);
      border-radius: 20px;
      width: 80%;
      margin: 10px auto;

      @media (max-width: 600px) {
        width: 100%;
        padding: calc(var(--pd) / 2);
      }

      .item {
        display: flex;
        align-items: center;

        h6 {
          margin-left: 10px;
          word-break: break-word;
        }
      }

      .description__comment {
        margin-left: 2rem;
      }
    }


    form {
      .start-rating {
        display: inline-flex;
        margin-top: 10px;
        align-items: center;

        p {
          margin-left: 10px;
        }
      }

      fieldset,
      legend {
        border: none;
      }

      textarea {
        min-width: 300px;
        padding: var(--pd);
        height: 100px;
        width: 100%;
      }

      .btn {
        display: flex;
        margin: auto;
      }
    }
  }


}
