<section class="comments">
  <div class="comments__container">
    <div class="comments__content">
      <h4>Opiniones de clientes</h4>
      <form [formGroup]="form" (ngSubmit)="addComment($event)">
        <div class="start-rating">
          <star-rating [starType]="'svg'" ngDefaultControl (ratingChange)="onRatingChange($event)"
            formControlName="rating" labelPosition="top">
          </star-rating>
          <p>{{score}} / 5</p>
          <p>{{score}} opiniones</p>
        </div>
        <fieldset>
          <legend>Escribenos una opinión:</legend>
          <textarea placeholder="Escribe tu comentario" formControlName="comment"></textarea>
        </fieldset>
        <button type="submit" class="btn" [disabled]="form.invalid">Enviar</button>
      </form>
    </div>
    <div class="comments__content reviews">
      <div class="no-content" *ngIf="!true">
        <figure>
          <img ngxGravatar [email]="'no-gravatar@gravatar.com'" [fallback]="fallbacks[3]" alt="user-avatar" />
        </figure>
        <p>No hay comentarios sobre este producto.</p>
      </div>
      <div class="comments__content--card" *ngIf="true">
        <div class="item">
          <figure class="avatar">
            <img ngxGravatar [email]="''" [fallback]="fallbacks[0]" alt="user-avatar" />
          </figure>
          <h6>{{ email || "user" }}</h6>
        </div>
        <div class="item">
          <div class="">
            <star-rating [starType]="'svg'" [rating]="2.63" [readOnly]="true"></star-rating>
          </div>
        </div>
        <div class="description__comment">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae officiis facere iusto! Sit officiis,
            voluptatem aspernatur dicta beatae reiciendis debitis sint tempore! Unde commodi, quidem ut illum possimus
            maxime architecto.</p>

        </div>
      </div>
    </div>
  </div>
</section>
