@import '../../../../vars';

.carousel {
  .swiper-container {
    width: 600px;
    height: 300px;
  }



  &__content {
    margin: 20px auto;
    width: 80%;

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: 20px;
      justify-content: center;
      justify-items: center;
      align-items: center;
      padding: var(--pd);
    }

    &--container {
      padding: var(--pd);

      &.image {
        // align-self: flex-start;

        figure {
          width: 250px;
          height: 250px;

          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }

      p,
      .detail {
        margin: var(--mg) 0;
      }

      .title {
        margin-bottom: 10px;
      }

      .description {

        .detail {
          display: flex;

          span {
            display: inline-block;
            margin-left: 5px;

            &.color {
              width: 20px;
              height: 20px;
              border-radius: 5px;

            }
          }
        }
      }


    }

    &--btn {
      display: flex;
      justify-content: center;
    }

  }
}
