<mdb-carousel [animation]="'fade'" class="carousel slide carousel-fade" [interval]="myInterval" [noWrap]="noWrapSlides"
  [(activeSlide)]="activeSlideIndex">
  <mdb-carousel-item *ngFor=" let product of products" color="primary">
    <div class=" carousel__content">
      <app-product-card [product]="product"></app-product-card>
    </div>
  </mdb-carousel-item>
</mdb-carousel>



<!-- <section class="swiper-container carousel">
  <div class="swiper-wrapper">
    <div >
      
    </div>
  </div>
  <div class="swiper-pagination swiper-pagination"></div>
  <div class="swiper-button-next swiper-button"></div>
  <div class="swiper-button-prev swiper-button"></div>
</section> -->
