@import '../../../../vars';

.carousel {
  &__content {
    margin: auto;
    width: 80%;
    height: 90%;


    app-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      height: 80%;
      align-items: center;
      pointer-events: none;

      .card__container {
        &--image {
          figure {
            width: 200px;
          }

        }
      }

    }
  }
}
