:root {
  --bg-main: #d1d1e9;
  --bg-color-secondary: #6246ea;
  --swiper-theme-color: rgba(255, 216, 3, 1);
  --bg-white: #FFF;
  --color: #2b2c34;
  --pd: 20px;
  --mg: 30px;
  --font-main: 'Red Hat Display', sans-serif;
  --font-title: 'Playball', cursive;
}
