:root {
  --bg-main: #E3F6F5;
  --bg-color-secondary: rgba(255, 216, 3, 0.6);
  --swiper-theme-color: rgba(255, 216, 3, 1);
  --bg-white: rgb(255, 255, 255);
  --color: #272343;
  --pd: 20px;
  --mg: 30px;
  --font-main: 'Red Hat Display', sans-serif;
  --font-title: 'Playball', cursive;
}
