/* You can add global styles to this file, and also import other style files */

@import './vars';
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background: var(--bg-main);
  color: var(--color);
}

h1,
h4,
h6 {
  font-family: var(--font-title);
}

h1 {
  font-size: 36px;
  line-height: 48px
}

h4 {
  font-size: 24px;
  line-height: 25px;
}

h6 {
  font-size: 20px;
}


p,
a,
input,
label {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: var(--color);

  &:hover {
    text-decoration: underline;
  }
}

ul {
  display: flex;
  justify-content: space-evenly;

  li {
    list-style: none;
  }
}

strong {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.icon {
  width: 20px !important;
  height: 20px !important;

  &_logo {
    width: 60px;
    height: 60px;
  }
}

img {
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

button {
  font-family: var(--font-main);
  padding: 10px var(--pd);
  color: var(--color);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 21px;
  background: transparent;
  transition: all 0.5s;
}

.btn {
  background: var(--bg-color-secondary);
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.5s;

  &:hover {
    background: var(--color);
    color: var(--bg-white);
    transition: all 0.5s;
  }
}
