@import '../../../../vars';

.categories {
  padding: var(--pd);
  background: white;

  &__content {
    padding: var(--pd);
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      justify-content: center;
      padding: 0;
      // width: 100vh;
    }

    a {
      width: 400px;
      margin: 10px;
      box-shadow: 4px 2px 15px rgb(125, 125, 125);
      border-radius: 20px;
      background: var(--bg-white);
      transition: all 0.5s;
      cursor: pointer;

      &:hover {
        text-decoration: none;
        transform: scale(1.05);
        transform-origin: center;
        transition: transform-origin, transform 0.5s;

        @media (max-width: 600px) {
          transform-origin: center center;
        }
      }
    }
  }
}
