@import '../../../../vars';

.categories {
  padding: var(--pd);

  &__content {
    padding: var(--pd);
    display: flex;

    @media (max-width: 600px) {
      padding: 0;
      flex-wrap: wrap;
      width: 100vh;
    }

    a {
      transition: all 0.5s;
      width: 100%;

      &:hover {
        text-decoration: none;
        transform: scale(1.05);
        transform-origin: left;
        transition: transform-origin, transform 0.5s;

        @media (max-width: 600px) {
          transform-origin: center center;
        }
      }
    }


    &--item {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      width: 35vw;
      box-shadow: 2px 2px 10px black;
      justify-items: center;
      border-radius: 20px;
      align-items: center;
      min-height: 260px;
      margin-right: var(--mg);
      background: var(--bg-white);
      cursor: pointer;

      @media (max-width: 600px) {
        width: 90vw;
        margin: 10px 0;
      }
    }

  }
}
