@import '../../../../vars';

.categories {
  padding: var(--pd);

  &__content {
    padding: var(--pd);
    display: flex;

    a {
      transition: all 0.5s;

      &:hover {
        text-decoration: none;
        transform: scale(1.1);
        transition: all 0.5s;
      }
    }


    &--item {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      width: 35vw;
      box-shadow: 2px 2px 10px black;
      justify-items: center;
      border-radius: 20px;
      align-items: center;
      min-height: 320px;
      margin-right: var(--mg);
      background: var(--bg-white);
      cursor: pointer;
    }

  }
}
